<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - [MID] Points Server</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
            <div class="container">
                <a href="/" class="navbar-brand"><img src="../static/images/mid_alone.png" style='height: 100%; width: 10%; object-fit: contain'/> [MID]</a>
            </div>
			<div class="navbar-header navbar-inverse">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse navbar-inverse">
				<ul class="nav navbar-nav">
					<li><a href="{{url_for('home')}}">Home</a></li>
					<li><a href="{{url_for('about')}}">About</a></li>
					<li><a href="{{url_for('contact')}}">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
    
	<div class="container body-content">
		{% block content %}{% endblock %}
		<hr/>
		<footer>
			<p>&copy; {{year}} - [MID] Points Server</p><br />
		</footer>
	</div>

	<script src="/static/scripts/jquery-1.10.2.js"></script>
	<script src="/static/scripts/bootstrap.js"></script>
	<script src="/static/scripts/respond.js"></script>
	{% block scripts %}{% endblock %}


</body>
</html>
